*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    width: 60px;
}
.hero{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75))
    ,url(assets/logo2.webp);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-btn{
    margin: 5px;
}
.shop{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75))
    ,url(assets/logo2.webp);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shit{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75))
    ,url(assets/12.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hood{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75))
    ,url(assets/jacket.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bags{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75))
    ,url(assets/19.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caps{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75))
    ,url(assets/11.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.books{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75))
    ,url(assets/7.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    opacity: 0.9;
}
.media-logo{
    margin: 10px;
    cursor: pointer;
}
.about-logo{
    width: 100px;
}
li{
    list-style-type: none;
}


